* {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #191414;
}

.laughlin{
    background-color: #4c6c9d;
    color: white;
}

.stanley{
    background-color: #665b92;
    color: white;
}
.sdsd{
    background: #A895C3;
}
.align-6{
    background: #BA8FB4;
}
.align-7{
    background: #CB89A5;
}
.align-8{
    background: #DC8496;
}
.align-9{
    background: #EE7E87;
}
.align-10{
    background-color: #FF7878;
}

.flip-card {
  background-color: transparent;
  margin-left: auto;
  margin-right: 3vw;
  margin-top: 5dvh;
  width: 60vw;
  height: 80vh;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  padding: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front{
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(199, 199, 224, 0.183) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.quote{
  font-size: 30px;
}
.person{
  font-size: 25px;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}